a:hover {
  text-decoration: underline;
}

.container {
  width: 960px;
  margin: 40px auto;
  border: none;
}

.container h1 {
  text-align: center;
  line-height: 2;
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .search_blog {
  height: 35px;
}

.container .search_blog label {
  display: inline-block;
  padding: 0 15px;
  line-height: 35px;
  font-size: 18px;
}

.container .search_blog select {
  width: 100px;
  line-height: 35px;
  outline: none;
  border: 1px solid #000;
  box-sizing: border-box;
}

.container .search_blog input[type="search"] {
  width: 250px;
  height: 27px;
  padding-left: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

.container .search_blog button {
  margin-top: 1px;
  height: 27px;
  padding: 0 20px;
  border: 1px solid #000;
  border-radius: 15px;
  background: none;
  font-size: 18px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.container .search_blog button:hover {
  background: #5292d6;
  color: #fff;
}

.container li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #000;
}

.container li::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.container li h2 {
  font-size: 20px;
  line-height: 2;
}

.container li h2 a {
  color: #000;
}

.container li .intro {
  height: 4.5em;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container li .detail span {
  display: inline-block;
}

.container li .detail span.auth {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container li .detail span.auth a {
  color: #057fcb;
}

.container li .detail span.auth, .container li .detail span.publish_time {
  float: left;
  margin-right: 30px;
}

.container li .detail span.comment, .container li .detail span.page_view {
  float: right;
  margin-left: 30px;
}

.container .portrait {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
}

.container .button {
  display: inline-block;
  padding: 0 20px;
  min-width: 120px;
  height: 30px;
  margin-bottom: 10px;
  line-height: 30px;
  color: #000;
  text-align: center;
  border: 1px solid #000;
  border-radius: 15px;
  outline: none;
  font-size: 16px;
  text-decoration: none;
}

.container .button.prevpage {
  float: left;
}

.container .button.nextpage {
  float: right;
}

.container .button:hover {
  background: #5292d6;
  color: #fff;
}

.container .page_info {
  text-align: center;
}
