* {
  border: 1px solid #000;
}

.container {
  width: 960px;
  margin: 0 auto;
  border: none;
}

.container h1 {
  text-align: center;
  line-height: 2;
  font-size: 30px;
  font-weight: bold;
}

.container h1 a {
  color: #000;
}

.container li {
  margin-bottom: 10px;
  padding: 10px;
}

.container li h2 {
  font-size: 18px;
  line-height: 2;
}

.container li .intro {
  height: 80px;
}
