.container {
  width: 960px;
  margin: 40px auto;
  border: none;
}

.container h1 {
  text-align: center;
  line-height: 2;
  font-size: 30px;
  font-weight: bold;
}

.container li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #000;
}

.container li::after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.container li h2 {
  font-size: 18px;
  line-height: 2;
}

.container li h2 a {
  color: #000;
}

.container li .intro {
  height: 80px;
}

.container li .detail span.auth, .container li .detail span.publish_time {
  float: left;
  margin-right: 30px;
}

.container li .detail span.comment, .container li .detail span.page_view {
  float: right;
  margin-left: 30px;
}
