a:hover {
    text-decoration: underline;
}
.container {
    width: 960px;
    margin: 40px auto;
    border: none;

    h1 {
        text-align: center;
        line-height: 2;
        font-size: 30px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }
    .search_blog {
        height: 35px;
        label {
            display: inline-block;
            padding: 0 15px;
            line-height: 35px;
            font-size: 18px;
        }

        select {
            width: 100px;
            line-height: 35px;
            outline: none;
            border: 1px solid #000;
            box-sizing: border-box;
        }

        input[type="search"] {
            width: 250px;
            height: 27px;
            padding-left: 10px;
            border: 1px solid #000;
            border-radius: 4px;
            outline: none;
            font-size: 16px;
            box-sizing: border-box;
        }

        button {
            margin-top: 1px;
            height: 27px;
            padding: 0 20px;
            border: 1px solid #000;
            border-radius: 15px;
            background: none;
            font-size: 18px;
            box-sizing: border-box;
            outline: none;
            cursor: pointer;
            

            &:hover {
                background: rgb(82, 146, 214);
                color: #fff;
            }
        }
    }

    li {
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #000;

        &::after {
            content: '';
            display: block;
            height: 0;
            visibility: hidden;
            clear: both;
        }
       
        h2 {
            font-size: 20px;
            line-height: 2;

            a {
                color: #000;
            }
        }

        .intro {
            height: 4.5em;
            line-height: 1.5em;
            // white-space: n/; 
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .detail{
            span {
                display: inline-block;

                &.author{
                    width: 200px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    a {
                        color: rgb(5, 127, 203);
                    }
                }

                &.author,
                &.publish_time {
                    float: left;
                    margin-right: 30px;
                }

                &.appraise,
                &.read_num,
                &.like_num {
                    float: right;
                    margin-left: 30px;
                    a {
                        color: rgb(75, 137, 231);
                    }
                }
                &.like_num {
                    color:rgb(238, 102, 102);
                    cursor: default;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .portrait {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: none;
    }
    .button {
        // display: inline-block;
        padding: 3px 20px;
        min-width: 120px;
        height: 30px;
        margin-bottom: 10px;
        line-height: 30px;
        color: #000;
        text-align: center;
        border: 1px solid #000;
        border-radius: 15px;
        outline: none;
        font-size: 16px;
        text-decoration: none;

        &.prevpage {
            float: left;
        }

        &.nextpage {
            float: right;
        }

        &.back_index {
            display: none;
        }

        &:hover {
            background: rgb(82, 146, 214);
            color: #fff;
        }

    }

    .page_info {
        text-align: center;
    }
}
