<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>博客首页</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="shortcut icon" href="/public/images/bitbug_favicon.ico" />
    <script src="/public/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <main class="container">
        <h1>博客文章汇总</h1>
        <a href="/publish" class="write_blog  button">写博客</a>
        <a href="javascript:;" class="back_index button" id="back_index">返回博客汇总表</a>
        <div>
            <div class="search_blog">
                <label for="search">搜索类型:</label>
                <select name="search_type" id="search_type">
                        <option value="all">全部</option>
                        <option value="title">标题</option>
                        <option value="intro">简介</option>
                        <option value="content">内容</option>
                        <option value="author">作者</option>
                </select>
                <label for="keyword">关键字:</label>
                <input type="search" name="keyword" id="keyword">
                <button type="submit" name="search" id="search_btn">搜索</button>
            </div>
            
            <ul class="all_blog_article" id="all_blog_article">
            </ul>
        </div>
        <p class="page_info" id="page_info"></p>
        <a href="#" class="button prevpage" id="prev_page">上一页</a>
        <a href="#" class="button nextpage" id="next_page">下一页</a>
    </main>
    <script src="/public/js/index.js"></script>


</body>
</html>