<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <title>博客首页</title>
</head>
<body>
    <main class="container">
        <h1>博客文章汇总</h1>
        <div class="all_blog_article">
            <ul>
                <li>
                    <h2><a href="javascript:;">title</a></h2>
                    <p class="intro">简介</p>
                    <div class="detail">
                        <a href="javascript:;" class="auth">auth</a>
                        <span class="publish_time">time</span>
                        <span class="comment">评论(0)</span>
                        <span class="page_view">阅读(0)</span>
                    </div>
                </li>
                <li>
                    <h2>title</h2>
                    <p class="intro">简介</p>
                    <div class="detail">
                        <a href="javascript:;" class="auth">auth</a>
                        <span class="publish_time">time</span>
                        <span class="comment">评论(0)</span>
                        <span class="page_view">阅读(0)</span>
                    </div>
                </li>
                <li>
                    <h2>title</h2>
                    <p class="intro">简介</p>
                    <div class="detail">
                        <a href="javascript:;" class="auth">auth</a>
                        <span class="publish_time">time</span>
                        <span class="comment">评论(0)</span>
                        <span class="page_view">阅读(0)</span>
                    </div>
                </li>
                <li>
                    <h2>title</h2>
                    <p class="intro">简介</p>
                    <div class="detail">
                        <a href="javascript:;" class="auth">auth</a>
                        <span class="publish_time">time</span>
                        <span class="comment">评论(0)</span>
                        <span class="page_view">阅读(0)</span>
                    </div>
                </li>
                <li>
                    <h2>title</h2>
                    <p class="intro">简介</p>
                    <div class="detail">
                        <a href="javascript:;" class="auth">auth</a>
                        <span class="publish_time">time</span>
                        <span class="comment">评论(0)</span>
                        <span class="page_view">阅读(0)</span>
                    </div>
                </li>
            </ul>
        </div>
    </main>



    <!-- <script src="/public/js/template-web.js"></script> -->
</body>
</html>