<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/publish.css">
    <link rel="shortcut icon" href="/public/images/bitbug_favicon.ico" />
    <script src="/public/js/jquery-3.2.1.min.js"></script>

    <title>发布博客</title>
</head>
<body>
    <main class="container" id="form">
        <label for="blog_title">标题:</label>
        <input type="text" name="blog_title">
    
        <label>简介:</label>
        <textarea name="blog_intro" rows="5"></textarea>
    
        <label>内容:</label>
        <div class="blog_content" contenteditable="true"></div>
        <!-- <textarea name="blog_content" rows="15" placeholder="请输入您的博客内容"></textarea> -->
        <label>作者:</label>
        <input type="text" name="blog_author">
        <p id="warnMessage" class="warnMessage"></p>
        <div class="submit_button">
            <a href="/" class="back">返回博客列表</a>
            <button type="submit" name="submit" value="submit">发布</button>
            <button type="reset" name="reset" value="reset">清空</button>
            <form action="" id="abc">

                <input type="file" name="uploadfile" class="button" id="files">
            </form>
            <button id="upload_img">上传图片</button>
        </div>
        
    </main>
    <script src="/public/js/publish.js"></script>
</body>
</html>