<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/publish.css">
    <title>发布博客</title>
</head>
<body>
    <main>
        <div class="title">
            标题:<input type="text" name="title" >
        </div>
        <div class="bolg_content_container">
            内容:<textarea class="bolg_content" rows="10"></textarea>
        </div>
        <button>发布</button>
        <button>取消</button>
    </main>
</body>
</html>